REACT_APP_FETCH_COORDINATES_ENDPOINT=https://shzy66ugnl.execute-api.eu-west-2.amazonaws.com/dev/fetch-coordinates
REACT_APP_PROJECT_IMAGES_ENDPOINT=https://3q7vxypn08.execute-api.eu-west-2.amazonaws.com/project-images
REACT_APP_MAPBOX_TOKEN=
REACT_APP_CLOUDFRONT_BASE_URL=https://d3takbs7sx5n7r.cloudfront.net/media
